.wy-side-nav-search {
    background-color: #e2e2e2;
}

.wy-side-nav-search a {
    color: #404040;
}

h1 {
    counter-reset: section;
}

h2::before {
	content: counter(section)". ";
	counter-increment: section;
}

li::marker {
    content: counter(section) "." counters(list-item, ".") ". ";
}